/* This is the style sheet for my comparative analysis table*/


/* Header styling */
h1	{
		font: 20px "Futura", sans-serif;
		color: #9966FF 
	}
	
img {
		height: 25%;
	}
	
	
tr.titles	{
				font: 14px "Futura", sans-serif;
				color: #9966FF
			}